<div class="row">
  <div class="col-sm-4 col-md-2" ng-repeat="item in foldersAndFiles">
    <div class="thumbnail text-center" ng-click="view(item)">
      <!-- Icon Folder -->
      <a href="" ng-click="openFolder(item)" ng-if="!item.type">
        <i class="fa fa-folder-o fa-5x" aria-hidden="true"></i>
      </a>
      <!-- Icon File -->
      <a href="{{storageUrl}}/{{item.folderId}}/{{item.file}}" target="_blank" ng-if="item.type && !item.image">
        <i class="fa fa-file-o fa-5x" aria-hidden="true"></i>
      </a>
      <!-- Thumnail -->
      <a href="" data-mfp-src="{{storageUrl}}/{{item.folderId}}/{{item.file}}" class="image-link" ng-if="item.type && item.image">
        <img ng-src="{{storageUrl}}/{{item.folderId}}/{{item.file}}" alt="{{item.name}}">
      </a>

      <div class="caption">
        <p>
          <small>
            {{item.name | limitTo : 12}}<span ng-if="item.name.length > 12">...</span>
          </small>
        </p>
      </div>

    </div>
  </div>
</div>
