<div loading="loading">
  <div class="table-responsive">
  <table class="table table-hover">

    <thead>
      <tr>
        <th>Nombre</th>
        <th>Se compartió con</th>
        <th class="text-right">Propietario</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="item in foldersAndFiles | orderBy:'name'" ng-class="{'active': item.id == folderOrFile.id}" ng-click="view(item)">
        <!--
        * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        * Icon & Names
        -->
        <td>
          <!-- Icon Folder -->
          <a href="" class="text-primary" ng-click="openFolder(item)" title="{{item.name}}" ng-if="!item.type">
            <i class="fa fa-folder-o fa-2x fa-fw" aria-hidden="true"></i>
          </a>
          <!-- Icon File -->
          <a href="{{storageUrl}}/{{item.folderId}}/{{item.file}}" class="text-primary" target="_blank" ng-if="item.type && !item.image" title="{{item.name}}">
            <i class="fa fa-2x fa-fw" aria-hidden="true" ng-class="{
              'fa-file-pdf-o': item.type == 'application/pdf',
              'fa-file-powerpoint-o': item.type == 'application/vnd.ms-powerpoint',
              'fa-file-excel-o': item.type == 'application/vnd.ms-excel',
              'fa-file-word-o': item.type == 'application/msword',
              'fa-file-archive-o': item.type == 'application/zip',
              'fa-file-text-o': item.type !== 'application/pdf'
            }"
            ></i>
          </a>
          <!-- Icon Image -->
          <a href="" data-mfp-src="{{storageUrl}}/{{item.folderId}}/{{item.file}}" class="text-primary image-link" ng-if="item.type && item.image" title="{{item.name}}">
            <i class="fa fa-picture-o fa-2x fa-fw" aria-hidden="true"></i>
          </a>
            <span style="vertical-align:super">{{item.name | limitTo : 35}}<span ng-if="item.name.length > 35">...</span></span>
        </td>

        <!--
        * Shared thumnails
        -->
        <td>
          <ul class="list-inline list-img margin-bottom-0">
            <li ng-repeat="user in item.shared | limitTo: 4">
              <img class="img-circle" tooltip data-placement="bottom" data-title="{{user.fullName}}" src="{{user.avatar}}">
            </li>
            <a href="" class="btn btn-xs text-muted" ng-if="item.shared.length - 4 > 0">{{item.shared.length - 4}}+</a>
          </ul>
        </td>
        <!--
        * Owner Avatar
        -->
        <td class="text-right">
          <a href="" class="btn btn-xs text-muted" ng-show="item.comments.length>0">
            <i class="fa fa-comment-o fa-lg" aria-hidden="true" tooltip data-placement="bottom" data-title="Comentarios"></i>
          </a>
          <a class="btn btn-xs text-muted" href="{{storageUrl}}/{{item.folderId}}/{{item.file}}" tooltip data-placement="bottom" data-title="Descargar" target="_blank" download="{{item.name}}" ng-show="item.type">
            <i class="fa fa-arrow-circle-down fa-lg" aria-hidden="true"></i>
          </a>
          <img ng-src="{{item.owner.avatar}}" class="img-circle avatar-sm" tooltip data-placement="bottom" data-title="{{item.owner.fullName}}" src="{{item.owner.avatar}}">
          <a href="" class="btn btn-sm text-info">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
        </td>

      </tr>
    </tbody>

  </table>
</div>
</div>
