<div class="table-responsive">
  <table class="table table-hover">

    <thead>
      <tr>
        <th>Nombre</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="item in foldersAndFiles" ng-class="{'active': item.id == folderOrFile.id}">

        <td ng-click="view(item)">
          <!-- Icon Folder -->
          <a href="" ng-click="openFolder(item)" title="{{item.name}}" ng-if="!item.type">
            <i class="fa fa-folder-o fa-2x fa-fw" aria-hidden="true"></i>
            <span style="vertical-align: super">{{item.name | limitTo : 35}}<span ng-if="item.name.length > 35">...</span></span>
          </a>
          <!-- Icon File -->
          <a href="{{storageUrl}}/{{item.folderId}}/{{item.file}}" target="_blank" ng-if="item.type && !item.image" title="{{item.name}}">
            <i class="fa fa-file-o fa-2x fa-fw" aria-hidden="true"></i>
            <span style="vertical-align: super">{{item.name | limitTo : 35}}<span ng-if="item.name.length > 35">...</span></span>
          </a>
          <!-- Icon Image -->
          <a href="" data-mfp-src="{{storageUrl}}/{{item.folderId}}/{{item.file}}" class="image-link" ng-if="item.type && item.image" title="{{item.name}}">
            <i class="fa fa-picture-o fa-2x fa-fw" aria-hidden="true"></i>
            <span style="vertical-align: super">{{item.name | limitTo : 35}}<span ng-if="item.name.length > 35">...</span></span>
          </a>
        </td>

        <td class="text-right" ng-click="view(item)">
          <i class="fa fa-share-alt text-muted fa-fw" aria-hidden="true" tooltip data-placement="bottom" data-title="Compartido" ng-show="item.shared.length>0">&nbsp;</i>
          <i class="fa fa-comment-o text-muted fa-fw" aria-hidden="true" tooltip data-placement="bottom" data-title="Comentarios" ng-show="item.comments.length>0">&nbsp;</i>
          <img ng-src="{{item.owner.avatar}}" class="img-circle avatar-sm" tooltip data-placement="bottom" data-title="{{item.owner.fullName}}" src="{{item.owner.avatar}}">
          <i class="fa fa-angle-right text-muted" aria-hidden="true"></i>
        </td>

      </tr>
    </tbody>

  </table>
</div>
