/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* mixins & base
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* transition
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* animation
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* opacity
* usage @include opacity(0.8);
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Placeholder
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
/*
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
|   html & body
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
html,
body {
  height: 100%;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  color: #858585; }

body {
  background-color: #f7f7f7; }

/*
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
|   a
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
a {
  color: #858585;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  a:hover {
    color: #45AFDC;
    text-decoration: none; }

/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* text-color
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
.text-success {
  color: #0DB0B5; }

.text-primary {
  color: #45AFDC; }

.text-danger {
  color: #F26C55; }

.text-warning {
  color: #FFC107; }

/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* bg-color
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* components
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* content and container-fluid
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
.content,
.container-fluid {
  -webkit-animation: all 0.5s;
  -moz-animation: all 0.5s;
  -ms-animation: all 0.5s;
  -o-animation: all 0.5s;
  animation: all 0.5s; }

.content.ng-enter .auth,
.content.ng-enter .error,
.content.ng-enter .page,
.content.ng-enter footer,
.content.ng-enter-active .auth,
.content.ng-enter-active .error,
.content.ng-enter-active .page,
.content.ng-enter-active footer,
.container-fluid.ng-enter .auth,
.container-fluid.ng-enter .error,
.container-fluid.ng-enter .page,
.container-fluid.ng-enter footer,
.container-fluid.ng-enter-active .auth,
.container-fluid.ng-enter-active .error,
.container-fluid.ng-enter-active .page,
.container-fluid.ng-enter-active footer {
  -webkit-animation: fadeInUp 0.5s;
  -moz-animation: fadeInUp 0.5s;
  -ms-animation: fadeInUp 0.5s;
  -o-animation: fadeInUp 0.5s;
  animation: fadeInUp 0.5s; }
.content.ng-enter header,
.content.ng-enter-active header,
.container-fluid.ng-enter header,
.container-fluid.ng-enter-active header {
  -webkit-animation: fadeInDown 0.5s;
  -moz-animation: fadeInDown 0.5s;
  -ms-animation: fadeInDown 0.5s;
  -o-animation: fadeInDown 0.5s;
  animation: fadeInDown 0.5s; }
.content.ng-enter nav,
.content.ng-enter-active nav,
.container-fluid.ng-enter nav,
.container-fluid.ng-enter-active nav {
  -webkit-animation: fadeInLeft 0.5s;
  -moz-animation: fadeInLeft 0.5s;
  -ms-animation: fadeInLeft 0.5s;
  -o-animation: fadeInLeft 0.5s;
  animation: fadeInLeft 0.5s; }

.content.ng-leave .auth,
.content.ng-leave .error,
.content.ng-leave .page,
.content.ng-leave footer,
.content.ng-leave-active .auth,
.content.ng-leave-active .error,
.content.ng-leave-active .page,
.content.ng-leave-active footer,
.container-fluid.ng-leave .auth,
.container-fluid.ng-leave .error,
.container-fluid.ng-leave .page,
.container-fluid.ng-leave footer,
.container-fluid.ng-leave-active .auth,
.container-fluid.ng-leave-active .error,
.container-fluid.ng-leave-active .page,
.container-fluid.ng-leave-active footer {
  -webkit-animation: fadeOutDown 0.5s;
  -moz-animation: fadeOutDown 0.5s;
  -ms-animation: fadeOutDown 0.5s;
  -o-animation: fadeOutDown 0.5s;
  animation: fadeOutDown 0.5s; }
.content.ng-leave header,
.content.ng-leave-active header,
.container-fluid.ng-leave header,
.container-fluid.ng-leave-active header {
  -webkit-animation: fadeOutUp 0.5s;
  -moz-animation: fadeOutUp 0.5s;
  -ms-animation: fadeOutUp 0.5s;
  -o-animation: fadeOutUp 0.5s;
  animation: fadeOutUp 0.5s; }
.content.ng-leave nav,
.content.ng-leave-active nav,
.container-fluid.ng-leave nav,
.container-fluid.ng-leave-active nav {
  -webkit-animation: fadeOutLeft 0.5s;
  -moz-animation: fadeOutLeft 0.5s;
  -ms-animation: fadeOutLeft 0.5s;
  -o-animation: fadeOutLeft 0.5s;
  animation: fadeOutLeft 0.5s; }

/*
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
|   Buttons
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
.btn.ng-animate {
  transition: 0s none !important;
  -webkit-transition: 0s none !important;
  animation: 0s none !important;
  -webkit-animation: 0s none !important; }

@media (max-width: 768px) {
  nav {
    left: 0 !important;
    background-color: #FEFEFE; }

  nav.min {
    left: -230px !important; }

  section {
    left: 0 !important; }

  section.min {
    left: 0 !important; }

  .error {
    max-width: 300px !important; }
    .error span {
      top: 15% !important;
      left: 36% !important;
      font-size: 5em !important; } }
.page .panel {
  padding: 20px;
  border-radius: 0;
  border-top: 1px solid #ebebeb;
  box-shadow: 0 1px 2px 0 rgba(158, 158, 158, 0.5);
  -webkit-box-shadow: 0 1px 2px 0 rgba(158, 158, 158, 0.5); }
  .page .panel .panel-heading {
    padding: 0 0 12px 0;
    border-radius: 0;
    border-bottom: 1px solid #ebebeb; }
    .page .panel .panel-heading h3 {
      font-weight: lighter;
      font-size: 16px;
      color: #525252; }
    .page .panel .panel-heading .btn-group {
      margin-top: -22px;
      margin-right: 10px; }
      .page .panel .panel-heading .btn-group .btn {
        padding: 5px 7px; }
  .page .panel .panel-body {
    padding: 20px 0 10px 0; }
  .page .panel .panel-footer {
    padding: 0;
    background-color: #FEFEFE;
    border-top: 1px solid transparent; }
  .page .panel.min-box span {
    margin-right: 10px; }
  .page .panel.min-box div {
    display: inline-block;
    vertical-align: top; }
    .page .panel.min-box div h2 {
      margin: 15px 0 5px 0; }

/*
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
|   Sortable
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
.sortable-placeholder {
  border: 2px dashed #CCC;
  background: none; }

/*.sortable-dragging{

  }*/
.sortable .panel .panel-heading {
  cursor: move; }

.nav-tabs,
.nav-tabs.nav-justified {
  border-bottom-color: transparent; }
  .nav-tabs.sections,
  .nav-tabs.nav-justified.sections {
    border-bottom: 2px solid #ebebeb; }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active a:hover,
  .nav-tabs > li.active a:focus,
  .nav-tabs.nav-justified > li.active > a,
  .nav-tabs.nav-justified > li.active a:hover,
  .nav-tabs.nav-justified > li.active a:focus {
    background-color: transparent;
    border-radius: 0;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #FAAB4C;
    color: #FAAB4C; }
  .nav-tabs > li > a,
  .nav-tabs > li a:hover,
  .nav-tabs > li a:focus,
  .nav-tabs.nav-justified > li > a,
  .nav-tabs.nav-justified > li a:hover,
  .nav-tabs.nav-justified > li a:focus {
    background-color: transparent;
    border-radius: 0;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid transparent;
    margin-bottom: 0; }

.nav-justified > li {
  display: table-cell;
  width: 1%; }

.nav-center {
  text-align: center; }
  .nav-center .nav-tabs {
    display: inline-block; }

.tab-content {
  margin-top: 20px; }

.badge.badge-danger {
  background-color: #F26C55; }
.badge.badge-success {
  background-color: #0DB0B5; }

.label.label-danger {
  background-color: #F26C55; }

.list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
.list-group .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-group .form-control, .input-group .form-control, .has-error .form-control {
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none; }
  .form-group .form-control:focus, .input-group .form-control:focus, .has-error .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none; }
.form-group label, .input-group label, .has-error label {
  font-weight: normal; }
.form-group .input-group-addon, .input-group .input-group-addon, .has-error .input-group-addon {
  border-radius: 0;
  background-color: #FEFEFE; }
.form-group ::-webkit-input-placeholder, .input-group ::-webkit-input-placeholder, .has-error ::-webkit-input-placeholder {
  color: #b8b8b8;
  font-weight: lighter; }
.form-group :-moz-placeholder, .input-group :-moz-placeholder, .has-error :-moz-placeholder {
  color: #b8b8b8;
  font-weight: lighter; }
.form-group ::-moz-placeholder, .input-group ::-moz-placeholder, .has-error ::-moz-placeholder {
  color: #b8b8b8;
  font-weight: lighter; }
.form-group :-ms-input-placeholder, .input-group :-ms-input-placeholder, .has-error :-ms-input-placeholder {
  color: #b8b8b8;
  font-weight: lighter; }

.form-group .form-control, .input-group .form-control {
  border-color: #ebebeb; }
  .form-group .form-control:focus, .input-group .form-control:focus {
    border-color: #d1d1d1; }
.form-group .input-group-addon, .input-group .input-group-addon {
  border-color: #ebebeb; }

/*
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
|   Select2
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
.select2-container {
  width: 100% !important; }
  .select2-container.select2-container--open .select2-selection, .select2-container.select2-container--focus .select2-selection {
    border-color: #d1d1d1; }
  .select2-container .select2-selection {
    border-radius: 0;
    border: 1px solid #ebebeb;
    height: 34px;
    outline: none; }
    .select2-container .select2-selection .select2-selection__rendered {
      line-height: 32px; }
    .select2-container .select2-selection .select2-selection__arrow {
      height: 32px; }
  .select2-container .select2-dropdown {
    border-color: #d1d1d1;
    border-radius: 0; }
    .select2-container .select2-dropdown .select2-search__field {
      border-color: #d1d1d1;
      outline: none; }
    .select2-container .select2-dropdown .select2-results {
      padding: 4px; }

/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Datepicker
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today:focus
.datepicker table tr td.today.focus,
.datepicker table tr td.today:active,
.datepicker table tr td.today.active,
.open > .dropdown-toggle.datepicker table tr td.today,
.datepicker table tr td.today:active:hover,
.datepicker table tr td.today.active:hover,
.open > .dropdown-toggle.datepicker table tr td.today:hover,
.datepicker table tr td.today:active:focus,
.datepicker table tr td.today.active:focus,
.open > .dropdown-toggle.datepicker table tr td.today:focus,
.datepicker table tr td.today:active.focus,
.datepicker table tr td.today.active.focus,
.open > .dropdown-toggle.datepicker table tr td.today.focus {
  background-color: #FAAB4C; }

/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* tags-input
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
tags-input .autocomplete, tags-input .tags {
  border-color: #ebebeb;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none; }
  tags-input .autocomplete.focused, tags-input .tags.focused {
    border-color: #d1d1d1;
    box-shadow: none;
    -webkit-box-shadow: none; }
  tags-input .autocomplete .tag-item, tags-input .tags .tag-item {
    border-radius: 0;
    background-color: #45AFDC;
    border: 1px solid #45AFDC; }
    tags-input .autocomplete .tag-item .remove-button, tags-input .tags .tag-item .remove-button {
      color: #FEFEFE; }

.btn {
  outline: none !important;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .btn:focus {
    outline: none; }

.btn-link {
  color: #45AFDC; }
  .btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active {
    color: #2698c8; }

.btn-default,
.open > .dropdown-toggle.btn-default {
  background-color: #FEFEFE;
  border-color: #ebebeb; }
  .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active,
  .open > .dropdown-toggle.btn-default:hover,
  .open > .dropdown-toggle.btn-default:focus,
  .open > .dropdown-toggle.btn-default:active,
  .open > .dropdown-toggle.btn-default.active {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ebebeb;
    border-color: #ebebeb; }
  .btn-default:active:hover, .btn-default:active:focus, .btn-default.active:hover, .btn-default.active:focus,
  .open > .dropdown-toggle.btn-default:active:hover,
  .open > .dropdown-toggle.btn-default:active:focus,
  .open > .dropdown-toggle.btn-default.active:hover,
  .open > .dropdown-toggle.btn-default.active:focus {
    background-color: #ebebeb;
    border-color: #ebebeb; }

.btn-primary,
.open > .dropdown-toggle.btn-primary {
  background-color: #45AFDC;
  border-color: #45AFDC; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
  .open > .dropdown-toggle.btn-primary:hover,
  .open > .dropdown-toggle.btn-primary:focus,
  .open > .dropdown-toggle.btn-primary:active,
  .open > .dropdown-toggle.btn-primary.active {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #2698c8;
    border-color: #2698c8; }
  .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary.active:hover, .btn-primary.active:focus,
  .open > .dropdown-toggle.btn-primary:active:hover,
  .open > .dropdown-toggle.btn-primary:active:focus,
  .open > .dropdown-toggle.btn-primary.active:hover,
  .open > .dropdown-toggle.btn-primary.active:focus {
    background-color: #2698c8;
    border-color: #2698c8; }

.btn-success,
.open > .dropdown-toggle.btn-success {
  background-color: #0DB0B5;
  border-color: #0DB0B5; }
  .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active,
  .open > .dropdown-toggle.btn-success:hover,
  .open > .dropdown-toggle.btn-success:focus,
  .open > .dropdown-toggle.btn-success:active,
  .open > .dropdown-toggle.btn-success.active {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #0a8285;
    border-color: #0a8285; }
  .btn-success:active:hover, .btn-success:active:focus, .btn-success.active:hover, .btn-success.active:focus,
  .open > .dropdown-toggle.btn-success:active:hover,
  .open > .dropdown-toggle.btn-success:active:focus,
  .open > .dropdown-toggle.btn-success.active:hover,
  .open > .dropdown-toggle.btn-success.active:focus {
    background-color: #0a8285;
    border-color: #0a8285; }

.close {
  outline: none; }

/*
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
|   btn-circle
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
.btn-circle-primary {
  color: #45AFDC;
  padding: 0; }
  .btn-circle-primary:hover, .btn-circle-primary:focus, .btn-circle-primary:active {
    color: #2698c8; }

.btn-circle-success {
  color: #0DB0B5;
  padding: 0; }
  .btn-circle-success:hover, .btn-circle-success:focus, .btn-circle-success:active {
    color: #0a8285; }

/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* fancycheck
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
.fancy-check {
  cursor: pointer; }
  .fancy-check:hover {
    color: #45AFDC; }
  .fancy-check input {
    display: none; }

.dropdown-menu {
  border-radius: 0;
  padding: 0;
  border: none; }
  .dropdown-menu li a {
    padding: 8px 20px; }
  .dropdown-menu li.divider {
    margin: 0; }

.smk-alert-content .alert {
  border-radius: 0;
  margin-bottom: 5px; }

.smk-alert-content-top-right {
  top: 5px;
  right: 5px; }

.smk-alert-content-top-left {
  top: 5px;
  left: 5px; }

.smk-alert-content-bottom-right {
  bottom: 0;
  right: 5px; }

.smk-alert-content-bottom-left {
  bottom: 0;
  left: 5px; }

/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Tooltips
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
.tooltip-inner {
  padding: 5px 8px;
  border-radius: 0; }

/*
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
|   Modal
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
.modal .modal-dialog {
  margin: 80px auto; }
  .modal .modal-dialog .modal-content {
    border-radius: 0; }
    .modal .modal-dialog .modal-content .modal-header {
      background-color: #FAAB4C;
      color: #FEFEFE;
      padding: 20px 15px; }
    .modal .modal-dialog .modal-content .modal-body {
      min-height: 200px; }

.table thead tr.active td, .table thead tr.active th {
  background-color: inherit; }
.table thead tr td.active, .table thead tr th.active {
  background-color: inherit; }
.table tbody tr td.avatar img {
  width: 25px;
  height: 25px; }

.pagination {
  margin: 0; }

.angular-ui-tree-handle {
  background-color: #FEFEFE;
  border: 1px solid #ebebeb;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: lighter;
  font-weight: normal; }
  .angular-ui-tree-handle .toggle {
    margin-right: 10px; }
  .angular-ui-tree-handle > label:first-child {
    margin-left: 15px; }

.angular-ui-tree-placeholder {
  border: 2px dashed #d1d1d1;
  background-color: #f7f7f7; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FAAB4C;
  z-index: 999;
  padding: 0 20px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  header .logo {
    height: 60px;
    line-height: 55px;
    text-decoration: none; }
    header .logo svg {
      width: 36px;
      margin-bottom: -9px; }
      header .logo svg path {
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      header .logo svg path:hover {
        fill: #fbc27e; }
    header .logo img {
      height: 25px;
      padding-left: 2px;
      padding-right: 20px;
      border-right: 1px solid #FEFEFE; }
  header .breadcrumb {
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 0;
    line-height: 44px;
    font-size: 20px;
    font-weight: lighter; }
    header .breadcrumb li {
      color: #FEFEFE;
      margin-right: 5px; }
    header .breadcrumb > li + li:before {
      color: #FEFEFE;
      content: ' / '; }
  header ul.nav li {
    line-height: 40px; }
    header ul.nav li a {
      color: #FEFEFE;
      border-radius: 0; }
      header ul.nav li a:hover, header ul.nav li a:focus {
        background: transparent !important; }
      header ul.nav li a .label {
        position: absolute;
        top: 12px;
        right: 6px;
        font-size: 9px; }
    header ul.nav li ul {
      padding: 0;
      border-radius: 0; }
      header ul.nav li ul li.dropdown-header {
        padding: 0 20px;
        font-size: 16px;
        color: #212121;
        font-weight: lighter;
        border-bottom: 1px solid #FAAB4C; }
      header ul.nav li ul li {
        border-bottom: 1px solid #ebebeb; }
        header ul.nav li ul li a {
          padding: 10px 20px;
          color: #858585; }
  header ul.nav li.userData > a {
    padding: 10px 0 10px 10px; }
    header ul.nav li.userData > a > img {
      width: 35px;
      height: 35px; }
  header ul.nav li.userData .userData-header {
    width: 260px;
    text-align: center; }
    header ul.nav li.userData .userData-header img {
      margin-top: 20px;
      width: 90px;
      height: 90px; }
    header ul.nav li.userData .userData-header p {
      line-height: normal;
      margin: 10px 0; }
      header ul.nav li.userData .userData-header p small {
        display: block; }
  header ul.nav li.userData .userData-body {
    padding: 4px 6px;
    text-align: center; }
    header ul.nav li.userData .userData-body a {
      display: inline-block; }
      header ul.nav li.userData .userData-body a:hover {
        background-color: #FAAB4C !important;
        color: #FEFEFE !important; }
  header ul.nav li.userData .userData-footer {
    padding: 4px 10px; }
    header ul.nav li.userData .userData-footer .btn {
      border: none; }

nav {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 230px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 998;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  nav::-webkit-scrollbar {
    width: 0; }
  nav.min {
    width: 60px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    nav.min ul.nav li a span {
      margin-left: 25px; }
  nav ul.nav {
    margin-bottom: 0;
    width: 230px;
    padding-top: 20px; }
    nav ul.nav li {
      margin-top: 0 !important; }
      nav ul.nav li a {
        color: #858585;
        border-radius: 0;
        padding: 15px 15px 15px 23px; }
        nav ul.nav li a.active, nav ul.nav li a:hover, nav ul.nav li a:focus {
          background-color: transparent; }
        nav ul.nav li a:hover i {
          color: #FAAB4C; }
        nav ul.nav li a i {
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -ms-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease; }
        nav ul.nav li a span {
          font-size: 14px;
          margin-left: 10px;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -ms-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease; }
      nav ul.nav li.active a, nav ul.nav li.active a:hover, nav ul.nav li.active a:focus {
        background-color: transparent;
        color: #FAAB4C; }

aside {
  position: fixed;
  top: 60px;
  bottom: 0;
  right: -260px;
  width: 260px;
  background-color: #FEFEFE;
  border-left: 1px solid #ebebeb;
  z-index: 998;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  aside.open {
    right: 0; }
  aside .search {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb; }
    aside .search .input-group-addon {
      border: none;
      color: #d1d1d1; }
    aside .search .form-control {
      border: none;
      padding-left: 0;
      -webkit-box-shadow: none;
      box-shadow: none; }
  aside .tab-content {
    position: absolute;
    top: 78px;
    bottom: 0;
    width: 100%;
    margin-top: 0;
    overflow-y: scroll; }
    aside .tab-content ::-webkit-scrollbar {
      width: 0; }
    aside .tab-content .list-group {
      margin-bottom: 0; }
      aside .tab-content .list-group .list-group-item {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid #ebebeb;
        color: #858585;
        margin-bottom: 1px; }
        aside .tab-content .list-group .list-group-item .media .media-left img {
          width: 40px; }
          aside .tab-content .list-group .list-group-item .media .media-left img.active {
            border: 2px solid #0DB0B5; }
        aside .tab-content .list-group .list-group-item .media .media-left .label {
          position: absolute;
          top: 40px;
          left: 40px;
          font-size: 9px;
          border: 1px solid #FEFEFE; }
        aside .tab-content .list-group .list-group-item .media .media-body {
          vertical-align: middle; }
          aside .tab-content .list-group .list-group-item .media .media-body p {
            margin-bottom: 0; }
            aside .tab-content .list-group .list-group-item .media .media-body p .date {
              float: right; }
            aside .tab-content .list-group .list-group-item .media .media-body p .badge {
              float: right;
              margin-top: 5px;
              padding: 5px 3px; }
  aside .messages {
    background-color: #FEFEFE;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -260px;
    width: 100%;
    height: 100%;
    z-index: 2;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    aside .messages.open {
      right: 0; }
    aside .messages > .btn {
      position: absolute;
      top: 0;
      left: 0;
      text-align: left;
      border: none;
      border-bottom: 1px solid #ebebeb; }
      aside .messages > .btn .glyphicon {
        padding-right: 10px;
        margin-right: 5px;
        border-right: 1px solid #ebebeb; }
      aside .messages > .btn img {
        width: 30px;
        height: 30px;
        margin-right: 5px; }
      aside .messages > .btn .badge {
        float: right;
        margin-top: 10px;
        padding: 5px 3px; }
    aside .messages .list-group {
      position: absolute;
      top: 45px;
      bottom: 37px;
      left: 0;
      width: 100%;
      margin-bottom: 0;
      padding: 0;
      overflow-y: scroll; }
      aside .messages .list-group .list-group-item {
        border: none;
        padding: 5px; }
        aside .messages .list-group .list-group-item.text-right p {
          background-color: #f7f7f7;
          text-align: left; }
        aside .messages .list-group .list-group-item p {
          max-width: 80%;
          display: inline-block;
          padding: 5px 10px;
          border: 1px solid #ebebeb;
          margin: 0;
          font-weight: lighter; }
    aside .messages .input-group {
      position: absolute;
      bottom: 0;
      left: 0;
      border-top: 1px solid #ebebeb; }
      aside .messages .input-group .form-control {
        border: none; }
      aside .messages .input-group .btn {
        border: none; }
        aside .messages .input-group .btn:hover, aside .messages .input-group .btn:focus, aside .messages .input-group .btn:active, aside .messages .input-group .btn.active {
          background-color: transparent;
          border-color: transparent; }
        aside .messages .input-group .btn[disabled] {
          background-color: transparent;
          border-color: transparent; }
        aside .messages .input-group .btn i {
          color: #45AFDC; }

section {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 230px;
  background: #f7f7f7;
  padding: 20px 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  section.min {
    left: 60px; }
  section::-webkit-scrollbar {
    width: 5px; }
  section::-webkit-scrollbar-thumb {
    background: #9E9E9E; }
  section::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(33, 33, 33, 0.4); }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 0;
  background-color: rgba(254, 254, 254, 0.9);
  border-top: 1px solid #ebebeb; }
  footer img {
    width: 110px;
    margin-top: 5px; }
  footer .btn-group .btn-link {
    text-decoration: none; }
  footer .btn-group ul.dropdown-menu {
    background: rgba(254, 254, 254, 0.9);
    padding: 0;
    border: none;
    border-radius: 0; }
    footer .btn-group ul.dropdown-menu a {
      color: #858585; }

/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Modules
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* form-auth
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
.auth-form {
  margin: 4% auto 0 auto;
  max-width: 600px;
  padding: 30px 35px; }
  .auth-form h2 {
    font-weight: lighter !important;
    margin: 0 0 15px 0;
    padding: 0 0 15px 0; }
  .auth-form .btn-block {
    margin: 10px 0 20px 0;
    font-size: 24px;
    height: 56px; }
  .auth-form .btn-link {
    font-size: 14px;
    padding: 0; }
    .auth-form .btn-link:hover {
      text-decoration: none; }
  .auth-form .form-group {
    margin-bottom: 20px; }
    .auth-form .form-group .input-group .input-group-addon {
      background-color: #FEFEFE;
      border-radius: 0; }
    .auth-form .form-group .input-group .form-control {
      background-color: #FEFEFE;
      height: 56px; }
    .auth-form .form-group .form-control-feedback {
      width: 56px;
      height: 56px;
      line-height: 56px;
      font-size: 20px; }
  .auth-form .media {
    margin-bottom: 30px; }
    .auth-form .media .media-left img {
      width: 60px;
      height: 60px; }
    .auth-form .media .media-body p:first-child {
      margin: 8px 0 0 0; }

.auth-content {
  margin: 4% auto 0 auto;
  max-width: 600px;
  text-align: center; }
  .auth-content .fa-6 {
    font-size: 7em; }
  .auth-content h1 {
    font-weight: lighter !important; }
  .auth-content .auth-content-body {
    background-color: #FEFEFE;
    padding: 55px 25px; }
  .auth-content .auth-content-footer {
    padding: 25px; }

.error {
  position: relative;
  margin: 12% auto 0 auto;
  max-width: 500px; }
  .error span {
    position: absolute;
    top: 17%;
    left: 36%;
    font-size: 8em;
    font-weight: bold;
    color: #212121; }
  .error h4 {
    margin-bottom: 100px; }

.profile-header {
  background-color: #1e779d;
  color: #FEFEFE;
  position: relative; }
  .profile-header .photo {
    position: relative;
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 25px; }
    .profile-header .photo:hover .btn-upload {
      opacity: 1; }
    .profile-header .photo img {
      border: 6px solid;
      border-color: rgba(254, 254, 254, 0.2);
      width: 120px;
      height: 120px; }
    .profile-header .photo .btn-upload {
      background-color: rgba(33, 33, 33, 0.3);
      width: 120px;
      height: 120px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0; }
      .profile-header .photo .btn-upload span {
        font-size: 30px;
        color: #FEFEFE;
        line-height: 120px; }
  .profile-header .info h3, .profile-header .info p {
    font-weight: lighter;
    margin: 0; }
  .profile-header .info p {
    margin-top: 5px; }
  .profile-header form .form-group {
    margin-bottom: 0; }
    .profile-header form .form-group .form-control {
      background-color: transparent;
      border-color: transparent;
      border-bottom-color: #ebebeb;
      box-shadow: none;
      font-weight: lighter;
      color: #FEFEFE;
      text-align: center;
      font-size: 22px; }
      .profile-header form .form-group .form-control::-webkit-input-placeholder, .profile-header form .form-group .form-control:-moz-placeholder, .profile-header form .form-group .form-control:-moz-placeholder, .profile-header form .form-group .form-control:-ms-input-placeholder {
        color: #b8b8b8; }
  .profile-header .btn-edit {
    position: absolute;
    top: 20px;
    right: 20px; }
  .profile-header .nav-tabs {
    margin-top: 30px; }
    .profile-header .nav-tabs > li.active > a,
    .profile-header .nav-tabs > li.active a:hover,
    .profile-header .nav-tabs > li.active a:focus {
      color: #FEFEFE;
      border-bottom-color: #FEFEFE; }
    .profile-header .nav-tabs > li > a,
    .profile-header .nav-tabs > li a:hover,
    .profile-header .nav-tabs > li a:focus {
      color: #FEFEFE; }

.profile-content dl {
  padding: 8px;
  margin-bottom: 0; }
  .profile-content dl .btn-edit {
    display: none; }
.profile-content dl:hover {
  background-color: #f7f7f7; }
.profile-content dl:hover .btn-edit {
  display: inherit; }

/*# sourceMappingURL=main.css.map */
