.list-group{
  .list-group-item {

    &:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    };

    &:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.active {
      background-color: $blue;
      border-color: $blue;
    }

  }
}

.list-img,
.list-text {
  display: inline-block;
  &+ul {
    margin-left: 10px;
  }
}

.list-img {
  li {
    padding: 0;
    img {
      height: 25px;
      width: 25px;
    }
  }
}

.list-text {
  li {
    padding: 0;
    &+li:before {
      content: ',';
      padding-right: 5px;
    }
  }
}
