.loading{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $gray-light-35;
  color: $gray;
  z-index: 10001;
  display:-webkit-flex;
  display:flex;
  -webkit-justify-content:center;
  justify-content:center;
  -webkit-align-items:center;
  align-items:center;

  > div {
    width: 150px;
    text-align: center;
    > p {
      margin: 20px 0;
    }
  }
}
