.page{
  .panel{
    border-radius: 0;
    border-top: 1px solid $gray-light-30;
    @include box-shadow(0 1px 2px 0 rgba($gray, 0.5));

    .panel-heading {
      border-radius: 0;
      border-bottom: 1px solid $gray-light-30;

      &.no-border {
        border-bottom: 1px solid transparent;
      }

      h3{
        font-weight: lighter;
        font-size: 16px;
        color: $gray-dark-30;
      }
      .btn-group{
      }
    }

    .panel-body {
      padding: 20px;
    }

    .panel-footer{
      background-color: $white;
      border-top: 1px solid transparent;
    }

    &.min-box {
      padding: 10px;
      .fa-stack{
        margin-right: 10px;
        float: left;
      }
      .min-box-text{
        display: inline;
        vertical-align: top;

        h2{
          margin: 15px 0 5px 0;
        }
      }
    }

    &.panel-box {
      display: table;
      //table-layout: fixed;
      width: 100%;
      height: 100%;
      text-align: center;
      //border: none;

      .panel-item {
        display: table-cell;
        padding: 25px;
        width: 1%;
        vertical-align: top;

        p {
          margin: 0;

          &.lead {
            font-size: 32px;
            line-height: 32px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

/*
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
|   Sortable
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
.sortable-placeholder {
  border: 2px dashed #CCC;
  background: none;
}
/*.sortable-dragging{

}*/
.sortable {
  .panel {
    .panel-heading{
      cursor: move;
    }
  }
}
