api/node_modules
api/config/env/development.js
api/config/env/production.js

app/bower_components
app/node_modules
app/config/env/development.json
app/config/env/production.json
app/public/*
app/.sass-cache

app/nohup.out
