<div class="page">
    <div class="row">
        <div class="col-xs-4">
            <div class="panel min-box">
                <span class="fa-stack fa-3x text-primary">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <div>
                    <h2>{{ countUsers.total }}</h2>
                    <p>{{ 'USERS' | translate }}</p>
                </div>
            </div>
        </div><!-- /.col -->
        <div class="col-xs-4">
            <div class="panel min-box">
                <span class="fa-stack fa-3x text-success">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </span>
                <div>
                    <h2>{{ countUsers.active }}</h2>
                    <p>{{ 'USERS.ACTIVE' | translate }}</p>
                </div>
            </div>
        </div><!-- /.col -->
        <div class="col-xs-4">
            <div class="panel min-box">
                <span class="fa-stack fa-3x text-danger">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-user-secret fa-stack-1x fa-inverse"></i>
                </span>
                <div>
                    <h2>{{ countUsers.deactive }}</h2>
                    <p>{{ 'USERS.DEACTIVE' | translate }}</p>
                </div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel" panel>
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'LOG.BROWSER' | translate }}</h3>
                </div>
                <div class="panel-body">
                    <canvas class="chart chart-pie" chart-legend="true"
                    chart-data="charts.browser.data" chart-labels="charts.browser.labels" chart-options="{tooltipTemplate: '<%if (label){%><%=label%>: <%}%><%= value %>%'}"></canvas>
                </div>
            </div>
        </div><!-- /.col -->
        <div class="col-md-6">
            <div class="panel" panel>
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'LOG.OS' | translate }}</h3>
                </div>
                <div class="panel-body">
                    <canvas class="chart chart-doughnut" chart-legend="true"
                    chart-data="charts.os.data" chart-labels="charts.os.labels" chart-options="{tooltipTemplate: '<%if (label){%><%=label%>: <%}%><%= value %>%'}"></canvas>
                </div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page -->
