.tests {
  .panel {
    .panel-footer {
      padding-top: 30px;
      padding-bottom: 30px;
      border-top: 1px solid $gray-light-30;
    }
  }
  .progress {
    height: 5px;
  }
  .tab-content {
    margin-top: 0;
  }
  .thumbnail {
    .caption {
      p.text-muted {
        height: 81px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 10px;
      }
    }
  }
  .score {
    font-size: 8em;
    font-weight: bold;
  }
}
