<div class="auth">

  <form class="auth-form" id="formLogin" data-smk-icon="glyphicon glyphicon-remove-sign">

    <h2>{{'LOGIN.LOGIN' | translate}}</h2>

    <div class="form-group">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </span>
        <input type="text" class="form-control" required autofocus placeholder="{{'LOGIN.EMAILORUSERNAME' | translate}}" ng-model="formLogin.emailOrUsername">
      </div>
    </div>

    <div class="form-group">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-lock"></span>
        </span>
        <input type="password" class="form-control" required data-smk-strongPass="strong" placeholder="{{'LOGIN.PASSWORD' | translate}}"  ng-model="formLogin.password">
      </div>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="formLogin.rememberMe">
          {{'LOGIN.REMEMBERME' | translate}}
        </label>
      </div>
    </div>

    <button class="btn btn-primary btn-lg btn-block" autocomplete="off" ng-click="login($event)" data-loading-text="<i class='fa fa-circle-o-notch fa-pulse'></i> Loading..." >
      {{'LOGIN.LOGIN' | translate}}
    </button>

    <div>
      <a class="btn btn-link pull-left" href="/begin_password_reset">
        {{'LOGIN.FORGOTPASSWORD' | translate}}
      </a>

      <a class="btn btn-success btn-outline pull-right" href="/signup">
        {{'SIGNUP.SIGNUP' | translate}}
      </a>
      <div class="clearfix"></div>
    </div>



    <hr>

    <div class="row">
      <div class="col-md-4">
        <h4>Admin</h4>
        <p>
          user: admin<br>
          pass: Admin123
        </p>
      </div>
      <div class="col-md-4">
        <h4>User</h4>
        <p>
          user: user<br>
          pass: User123
        </p>
      </div>
      <div class="col-md-4">
        <h4>Guest</h4>
        <p>
          user: guest<br>
          pass: Guest123
        </p>
      </div>
    </div>

  </form>



</div>
