<div class="auth">
    
    <form class="auth-form" id="formSendPasswordReset" ng-hide="show.message">

        <h2>{{'SEND-PASSWORD-RESET.HEADLINE' | translate}}</h2>

        <div class="media">
            <div class="media-left">
                <img class="img-circle" src="{{account.avatar}}" alt="">
            </div>
            <div class="media-body">
                <p><strong>{{account.profile.fullName}}</strong></p>
                <p>{{account.username}}</p>
            </div>
        </div>

        <p>{{'SEND-PASSWORD-RESET.PARAGRAPH' | translate}}</p>

        <p>{{'SEND-PASSWORD-RESET.PARAGRAPH2' | translate}}<strong>{{account.email}}</strong></p>

        <button class="btn btn-success btn-lg btn-block" ng-click="sendPasswordReset($event)" data-loading-text="<i class='fa fa-circle-o-notch fa-pulse'></i> Loading..." autocomplete="off">
            {{'SEND-PASSWORD-RESET.BTN' | translate}}
        </button>

    </form>

    <div class="auth-content" ng-show="show.message">

        <div class="auth-content-body">
            <i class="fa fa-check-circle fa-6 text-success"></i>
            <h1>{{'SEND-PASSWORD-RESET.MESSAGES.SUCCESS.HEADLINE' | translate}}</h1>
            <p class="lead">{{'SEND-PASSWORD-RESET.MESSAGES.SUCCESS.PARAGRAPH' | translate}}</p>

            <p>
                <a class="btn btn-link" href="" ng-click="show.message=false">
                    {{'SEND-PASSWORD-RESET.MESSAGES.SUCCESS.LINK'| translate}}
                </a>
            </p>
        </div>

        <div class="auth-content-footer">
            <small class="text-muted">{{'SEND-PASSWORD-RESET.MESSAGES.SUCCESS.NOTE' | translate}}</small>
        </div>

    </div>

</div>
