/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* form-auth
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
.auth-form {
  margin: 4% auto 0 auto;
  max-width: 600px;
  padding: 30px 35px;

  h2 {
    font-weight: lighter !important;
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
  }

  .btn-block {
    margin: 10px 0 20px 0;
    font-size: 24px;
    height: 56px;
  }

  .btn-link {
    font-size: 14px;
    padding: 0;

    &:hover{
      text-decoration: none;
    }
  }

  .form-group {
    margin-bottom: 20px;

    .input-group {

      .input-group-addon {
        background-color: $white;
        border-radius: 0;
      }

      .form-control {
        background-color: $white;
        height: 56px;
      }

    }

    .form-control-feedback {
      width: 56px;
      height: 56px;
      line-height: 56px;
      font-size: 20px;
    }
  }

  .media{
    margin-bottom: 30px;

    .media-left {
      img {
        width: 60px;
        height: 60px;
      }
    }
    .media-body {
      p:first-child {
        margin: 8px 0 0 0;
      }
    }

  }

}

.auth-content {
  margin: 4% auto 0 auto;
  max-width: 600px;
  text-align: center;

  .fa-6 {
    font-size: 7em;
  }

  h1 {
    font-weight: lighter !important;
  }

  .auth-content-body {
    background-color: $white;
    padding: 55px 25px;
  }

  .auth-content-footer {
    padding: 25px;
  }

}
