<div class="page tests">

  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <div class="thumbnail alert-info">
        <div class="caption">
          <h4><strong>{{group.name}}</strong></h4>
          <p class="text-muted">{{group.description}}</p>
          <p>
            <a href="/tests" class="btn btn-primary btn-outline">Atras</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <div class="thumbnail">
        <a href="#" class="btn btn-default btn-block padding-top-40 padding-bottom-50">
          <span class="fa fa-plus fa-5x text-muted margin-bottom-10"></span><br>Crear Examen
        </a>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="item in group.tests">
      <div class="thumbnail">
        <div class="caption">
          <h4>{{item.name}}</h4>
          <p class="text-muted">{{item.description}}</p>
          <p>
            <a href="#" class="btn btn-primary btn-block btn-outline" role="button" ng-click="getTest(group.id, item.id)">Empezar</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</div><!-- /.page -->
