<div class="page tests">

  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="thumbnail">
        <a href="#" class="btn btn-default btn-block padding-top-50 padding-bottom-50">
          <span class="fa fa-plus fa-5x text-muted"></span><br>Crear Seccion
        </a>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="item in groups">
      <div class="thumbnail">
        <div class="caption">
          <h4>{{item.name}}</h4>
          <p class="text-muted">{{item.description}}</p>
          <p>
            <a href="#" class="btn btn-primary btn-block btn-outline" role="button" ng-click="getTests(item.id)">Entrar</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</div><!-- /.page -->
