<div class="auth">
    
    <form class="auth-form" id="formPasswordReset" data-smk-icon="glyphicon glyphicon-remove-sign" ng-show="show.form">

        <h2>{{'PASSWORD-RESET.HEADLINE' | translate}}</h2>

        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input type="password" class="form-control" id="password" required autofocus data-smk-strongPass="strong" placeholder="{{'PASSWORD-RESET.PASSWORD' | translate}}"  ng-model="formPasswordReset.password">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input type="password" class="form-control" id="rePassword" required data-smk-strongPass="strong" placeholder="{{'PASSWORD-RESET.REPASSWORD' | translate}}">
            </div>
        </div>

        <button class="btn btn-primary btn-lg btn-block" autocomplete="off" data-loading-text="<i class='fa fa-circle-o-notch fa-pulse'></i> Loading..." ng-click="passwordReset($event)">
            {{'PASSWORD-RESET.BTN' | translate}}
        </button>

    </form>

    <div class="auth-content" ng-show="show.message">

        <div class="auth-content-body">
            <i class="fa fa-check-circle fa-6 text-success"></i>
            <h1>{{'PASSWORD-RESET.MESSAGES.SUCCESS.HEADLINE' | translate}}</h1>
            <p class="lead">{{'PASSWORD-RESET.MESSAGES.SUCCESS.PARAGRAPH' | translate}}</p>
        </div>

    </div>

</div>
