aside {
  position: fixed;
  top: 60px;
  bottom: 0;
  right: -260px;
  width: 260px;
  background-color: $white;
  border-left: 1px solid $gray-light-30;
  z-index: 998;
  @include transition(all .2s ease);
  &.open {
    right: 0;
  }

  .search {
    border-top: 1px solid $gray-light-30;
    border-bottom: 1px solid $gray-light-30;

    .input-group-addon {
      border: none;
      color: $gray-light-20;
    }
    .form-control {
      border: none;
      padding-left: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .tab-content {
    position: absolute;
    top: 78px;
    bottom: 0;
    width: 100%;
    margin-top: 0;
    overflow-y: scroll;

    ::-webkit-scrollbar {
      width: 0;
    };

    .list-group {
      margin-bottom: 0;

      .list-group-item {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid $gray-light-30;
        color: $gray-dark-10;
        margin-bottom: 1px;

        .media {
          .media-left {

            img {
              width: 40px;

              &.active {
                border: 2px solid $green;
              }
            }
            .label {
              position: absolute;
              top: 40px;
              left: 40px;
              font-size: 9px;
              border: 1px solid $white;
            }
          }
          .media-body {
            vertical-align: middle;

            p {
              margin-bottom: 0;

              .date {
                float: right;
              }
              .badge {
                float: right;
                margin-top: 5px;
                padding: 5px 3px;
              }
            }
          }
        }
      }
    }
  }


  .messages {
    background-color: $white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -260px;
    width: 100%;
    height: 100%;
    z-index: 2;
    @include transition(all .2s ease);

    &.open {
      right: 0;
    }

    > .btn {
      position: absolute;
      top: 0;
      left: 0;
      text-align: left;
      border: none;
      border-bottom: 1px solid $gray-light-30;

      .glyphicon {
        padding-right: 10px;
        margin-right: 5px;
        border-right: 1px solid $gray-light-30;
      }

      img {
        width: 30px;
        height: 30px;
        margin-right: 5px;
      }

      .badge {
        float: right;
        margin-top: 10px;
        padding: 5px 3px;
      }
    }
    .list-group {
      position: absolute;
      top: 45px;
      bottom: 37px;
      left: 0;
      width: 100%;
      margin-bottom: 0;
      padding: 0;
      overflow-y: scroll;

      .list-group-item {
        border: none;
        padding: 5px;

        &.text-right {
          p {
            background-color: $gray-light-35;
            text-align: left;
          }
        }

        p {
          max-width: 80%;
          display: inline-block;
          padding: 5px 10px;
          border: 1px solid $gray-light-30;
          margin: 0;
          font-weight: lighter;
        }

      }
    }
    .input-group {
      position: absolute;
      bottom: 0;
      left: 0;
      border-top: 1px solid $gray-light-30;

      .form-control {
        border: none;
      }
      .btn {
        border: none;

        &:hover, &:focus, &:active, &.active{
          background-color: transparent;
          border-color: transparent;
        }

        &[disabled]
        {
          background-color: transparent;
          border-color: transparent;
        }

        i{
          color: $blue
        }
      }
    }
  }
}
