footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 0;
  background-color: rgba($white, 0.9);
  border-top: 1px solid $gray-light-30;

  img {
    width: 110px;
    margin-top: 5px;
  }

  .btn-group{
    .btn-link {
      text-decoration: none;
    }
    ul.dropdown-menu{
      background: rgba($white, 0.9);
      padding: 0;
      border: none;
      border-radius: 0;
      a {
        color: $gray-dark-10;
      }
    }
  }
}
