/*
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
|   html & body
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
html,
body {
    height: 100%;
    //overflow: hidden;
    font-family: $font;
    color: $gray-dark-30;
}
body {
    background-color: $gray-light-35;
}
/*
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
|   a
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
a {
    color: $gray-dark-10;
    @include transition(all .2s ease);

    &:hover, &:focus{
        color: $blue;
        text-decoration: none;
    }
}
/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* text-color
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
.text-success{
    color: $green;
}
.text-primary{
    color: $blue;
}
.text-danger{
    color: $red;
}
.text-warning{
    color: $yellow;
}
/**
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* bg-color
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
.bg-success{
    background-color: $green;
}
.bg-primary{
    background-color: $blue;
}
.bg-danger{
    background-color: $red;
}
.bg-warning{
    background-color: $yellow;
}
// .bg-primary, .bg-success, .bg-info, .bg-warning, .bg-danger{
//     padding: 15px;
// }
