.page{
    .panel{
        padding: 20px;
        border-radius: 0;
        border-top: 1px solid $gray-light-30;
        @include box-shadow(0 1px 2px 0 rgba($gray, 0.5));

        .panel-heading{
            padding-top: 0px;
            margin-bottom: 15px;
            border-radius: 0;
            border-bottom: 1px solid $gray-light-30;

            h3{
                font-weight: lighter;
                font-size: 16px;
                color: $gray-dark-30;
            }
            .btn-group{
            }
        }

        .panel-body {
            padding: 0;
        }

        .panel-footer{
            padding: 0;
            background-color: $white;
            border-top: 1px solid transparent;
        }

        &.min-box{
            span{
                margin-right: 10px
            }
            div{
                display: inline-block;
                vertical-align: top;

                h2{
                    margin: 15px 0 5px 0;
                }
            }
        }
    }
}

/*
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
|   Sortable
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
.sortable-placeholder {
    border: 2px dashed #CCC;
    background: none;
}
/*.sortable-dragging{

}*/
.sortable {
    .panel {
        .panel-heading{
            cursor: move;
        }
    }
}
