.table{
    thead{
        tr{
            &.active{
                td, th{
                    background-color: inherit;
                }
            }
            td, th{
                &.active{
                    background-color: inherit;
                }
            }
        }
    }
    tbody{
        tr{
            td{
                &.avatar{
                    img{
                        width: 25px;
                        height: 25px;
                    }
                }
                &.btn-edit a{
                    opacity: 0;
                }
            }
            &:hover .btn-edit a{
                opacity: 1;
            }
            &.selected{
                background-color: $blue-light-10;
                color: $white;
            }
        }

    }
}
