<header class="gray">
  <div class="container">
    <a href="/" class="logo pull-left">
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="-527.2 390.3 55.9 29.6" enable-background="new -527.2 390.3 55.9 29.6" xml:space="preserve">
      <g>
        <path fill="#FAAB4C" d="M-489.6,399.1h17.3c0.6,0,1-0.5,1-1v-6.7c0-0.6-0.5-1-1-1h-17.3c-0.6,0-1,0.5-1,1v6.7
        C-490.6,398.6-490.1,399.1-489.6,399.1z"/>
        <path fill="#FAAB4C" d="M-510.9,399.1h17.3c0.6,0,1-0.5,1-1v-6.7c0-0.6-0.5-1-1-1h-17.3c-0.6,0-1,0.5-1,1v6.7
        C-511.9,398.6-511.5,399.1-510.9,399.1z"/>
        <path fill="#FAAB4C" d="M-526.2,399.1h11.4c0.6,0,1-0.5,1-1v-6.7c0-0.6-0.5-1-1-1h-11.4c-0.6,0-1,0.5-1,1v6.7
        C-527.2,398.6-526.7,399.1-526.2,399.1z"/>
        <path fill="#FAAB4C" d="M-472.2,411.2h-17.3c-0.6,0-1,0.5-1,1v6.7c0,0.6,0.5,1,1,1h17.3c0.6,0,1-0.5,1-1v-6.7
        C-471.2,411.7-471.7,411.2-472.2,411.2z"/>
        <path fill="#FAAB4C" d="M-493.6,411.2h-17.3c-0.6,0-1,0.5-1,1v6.7c0,0.6,0.5,1,1,1h17.3c0.6,0,1-0.5,1-1v-6.7
        C-492.6,411.7-493,411.2-493.6,411.2z"/>
        <path fill="#FAAB4C" d="M-514.8,411.2h-11.4c-0.6,0-1,0.5-1,1v6.7c0,0.6,0.5,1,1,1h11.4c0.6,0,1-0.5,1-1v-6.7
        C-513.7,411.7-514.2,411.2-514.8,411.2z"/>
        <path fill="#FAAB4C" d="M-508.8,409.6c0.6,0,1-0.5,1-1v-6.7c0-0.6-0.5-1-1-1h-17.3c-0.6,0-1,0.5-1,1v6.7c0,0.6,0.5,1,1,1H-508.8z"
        />
        <path fill="#FAAB4C" d="M-504.7,400.8c-0.6,0-1,0.5-1,1v6.7c0,0.6,0.5,1,1,1h17.3c0.6,0,1-0.5,1-1v-6.7c0-0.6-0.5-1-1-1H-504.7z"/>
        <path fill="#FAAB4C" d="M-472.2,400.8h-11.4c-0.6,0-1,0.5-1,1v6.7c0,0.6,0.5,1,1,1h11.4c0.6,0,1-0.5,1-1v-6.7
        C-471.2,401.3-471.7,400.8-472.2,400.8z"/>
      </g>
    </svg>
    <!-- <img src="images/icon-white.svg" alt="Modulr"> -->
    <img src="public/images/modulr-orange.svg" alt="Modulr" class="hidden-xs">
  </a>

  <div class="btn-group pull-right">
    <a class="btn btn-primary btn-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'LANGUAGE' | translate}}</a>
    <ul class="dropdown-menu">
      <li ng-repeat="language in languages track by language.id">
        <a href="" ng-click="changeLanguage(language.lang)">
          {{language.language | translate}}
        </a>
      </li>
    </ul>
  </div>
</div>
</header>

<div class="container-fluid" ui-view></div>
