<div class="page">

<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">{{'MODULES' | translate}}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div ui-tree="treeOptions">
              <ol ui-tree-nodes="" ng-model="modules">
                <li ng-repeat="item in modules" ui-tree-node>
                  <div ui-tree-handle class="text-capitalize">
                    <i class="fa {{item.icon}} fa-lg fa-fw"></i> | {{item.title}}
                    <label class="pull-right fancy-check" data-nodrag>
                      <input type="checkbox" ng-model="item.active" ng-change="showModule( item)"> <i class="fa fa-lg" ng-class="item.active? 'fa-eye' : 'fa-eye-slash'"></i>
                    </label>
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div><!-- /.panel-body -->
    </div>
  </div><!-- /.col -->
</div><!-- /.row -->

</div><!-- /.page -->
