.nav-tabs,
.nav-tabs.nav-justified {
  border-bottom-color: transparent;

  &.sections {
    border-bottom: 2px solid $gray-light-30;
  }

  > li {

    &.active {
      > a,
      a:hover,
      a:focus {
        background-color: transparent;
        border-radius: 0;
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: 2px solid $orange;
        color: $orange;
      }
    }

    > a,
    a:hover,
    a:focus {
      background-color: transparent;
      border-radius: 0;
      border-left: none;
      border-top: none;
      border-right: none;
      border-bottom: 2px solid transparent;
      margin-bottom: 0;
    }

  }

}

// responsive
.nav-justified {
  > li {
    display: table-cell;
    width: 1%;
  }
}

.nav-center {
  text-align: center;

  .nav-tabs {
    display: inline-block;
  }
}

.tab-content {
  margin-top: 20px;
}
