<div ng-controller="ChatCtrl">
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="" data-target="#chats" aria-controls="chats" role="tab" data-toggle="tab">Chats</a></li>
    <li role="presentation"><a href="" data-target="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">{{'CHAT.CONTACTS' | translate}}</a></li>
  </ul>

  <div class="input-group search">
    <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
    <input type="text" class="form-control" placeholder="{{'SEARCH' | translate}}" ng-model="search">
  </div><!-- /.search -->

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active chats" id="chats">
      <div class="list-group">
        <a href="" class="list-group-item animated flipInX" ng-repeat="chat in chats | filter:search"  ng-click="loadMessages(chat, $index)">
          <div class="media">
            <div class="media-left media-middle">
              <img ng-src="{{chat.avatar}}" class="img-circle"/>
              <span class="label label-danger animated tada" ng-if="chat.noRead > 0">
                {{ chat.noRead }}
              </span>
            </div>
            <div class="media-body">
              <p>
                <span ng-if="chat.type == 1">{{chat.to[0].name}}</span>
                <span ng-if="chat.type == 2">{{chat.name}}</span>
                <small class="date" am-time-ago="chat.lastMessages[0].createdAt" am-without-suffix="true"></small>
              </p>
              <small>
                {{chat.lastMessages[0].msg | limitTo : 25}}<span ng-if="chat.lastMessages[0].msg.length > 25">...</span>
              </small>
            </div>
          </div>
        </a>
      </div>
    </div><!-- /.chats -->

    <div role="tabpanel" class="tab-pane fade" id="contacts">
      <div class="list-group">
        <a href="" class="list-group-item animated flipInX" ng-repeat="user in contacts | filter:search"  ng-click="createChat(user)">
          <div class="media">
            <div class="media-left media-middle">
              <img ng-src="{{user.avatar}}" class="img-circle"/>
            </div>
            <div class="media-body">
              <p>
                {{user.name}}
                <span class="badge" ng-class="{'badge-success': user.logged, 'badge-danger': !user.logged}"> </span>
              </p>
            </div>
          </div>
        </a>
      </div>
    </div><!-- /.contacts -->
  </div>

  <div class="messages" ng-class="{open: chat.open}">
    <ul class="list-group">
      <li class="text-center" ng-if="chat.existMoreMessages">
        <a href="" class="btn btn-link" ng-click="loadMoreMessages()" ng-hide="loaded.moreMessages">{{'CHAT.LOADMORE' | translate}}</a>
        <p class="btn" ng-show="loaded.moreMessages"><i class="fa fa-circle-o-notch fa-spin fa-lg"></i></p>
      </li>
      <li class="list-group-item" ng-class="{'text-right': item.from == chat.message.from}" ng-repeat="item in chat.messages | orderBy:'createdAt'" scroll-to-bottom>
        <p data-toggle="collapse" data-target="#date-{{$index}}">{{item.msg}}</p>
        <div class="collapse" id="date-{{$index}}"><small am-time-ago="item.createdAt" am-without-suffix="true"></small></div>
      </li>
    </ul>

    <a href="" class="btn btn-default btn-block" ng-click="clearMessages()">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      <img ng-src="{{chat.avatar}}" class="img-circle"> {{chat.name}}
      <span class="badge" ng-class="{'badge-success': chat.logged, 'badge-danger': !chat.logged}"> </span>
    </a>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="{{'CHAT.MESSAGE' | translate}}" ng-model="chat.message.msg" ng-blur="chat.focus=false" focus="chat.focus" ng-focus="markReadMessages()" ng-click="markReadMessages()" enter="sendMesssage()">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-mousedown="chat.focus=true" ng-click="sendMesssage()">
          <i class="fa fa-paper-plane"></i>
        </button>
      </span>
    </div>

    <audio id="audio">
      <source src="http://i.cloudup.com/y29czRwU3R.m4a" type="audio/mp4">
      <source src="http://i.cloudup.com/baNnhH1I7M.ogg" type="audio/wav">
      <p>Your browser does not support the <code>audio</code> element.</p>
    </audio>
  </div><!-- /.messages -->
</div>
