<div class="auth">
  <form class="auth-form" id="formBeginPasswordReset" data-smk-icon="glyphicon glyphicon-remove-sign">

    <h2>{{'BEGIN-PASSWORD-RESET.HEADLINE' | translate}}</h2>

    <p>{{'BEGIN-PASSWORD-RESET.PARAGRAPH' | translate}}</p>

    <div class="form-group">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </span>
        <input type="text" class="form-control" placeholder="{{'BEGIN-PASSWORD-RESET.EMAILORUSERNAME' | translate}}" required autofocus ng-model="formBeginPasswordReset.emailOrUsername">
      </div>
    </div>

    <button class="btn btn-success btn-lg btn-block" data-loading-text="<i class='fa fa-circle-o-notch fa-pulse'></i> Loading..." autocomplete="off" ng-click="findAccount($event)">{{'BEGIN-PASSWORD-RESET.BTN' | translate}}</button>

  </form>
</div>
